* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'zabras';
  src: url('./fonts/zabars.ttf') format('truetype');
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('img/background img/back.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'zabras';
}

h1 {
  font-family: 'zabras', Arial, Helvetica, sans-serif;
  font-size: 75px !important;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

canvas {
  background-color: black;
  display: block;
}

.background_screen {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.keys {
  display: flex;
  justify-content: center;
  align-items: center;
}

.keys img {
  width: 64px;
  height: 64px;
}

.keys p {
  padding-right: 10px;
  font-size: 24px;
}
@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}
